*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  background-color: bisque;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;
}

.app__section {
  margin: 1rem;
}
.app__heading {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.app__controls {
  border: 1px solid gray;
  background-color: antiquewhite;
  padding: 0.2rem;
  position: relative;
}
.app__input {
  width: 15rem;
  margin-right: 0.5rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.app__input::placeholder {
  color: gray;
}

.app__cta {
  height: 2rem;
}

.app__suggestion:hover {
  background-color: gainsboro;
}

.app__input--pag {
  height: 1.5rem;
  width: 6rem;
}
.results {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(autosize, minmax(320px, 1fr));
}
.results__result {
  background-color: salmon;
  width: 20rem;
  margin-bottom: 1rem;
}

.results__imgs {
  width: 100%;
  position: relative;
}

.result__avatar {
  border-radius: 100%;
  position: absolute;
}
.result__cover {
  width: 100%;
}
